.history-container {
  background-color: rgba(0, 0, 0, 0.7); // Fondo medio oscuro transparente
  color: #ffffff; // Letras blancas
  border: 1px solid #b0c4de; // LightSteelBlue
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.history-list {
  list-style-type: none;
  padding: 0;

  li {
    padding: 10px;
    border-bottom: 1px solid #b0c4de;

    &:last-child {
      border-bottom: none;
    }
  }
}
